$document.surround('/templates/dcm/surround.vm')
		#if($request.get('email'))
			#set($loginmessage = "Hemos recibido su solicitud. Si existe una cuenta asociada a ese correo se envió un mensaje para reestablecer la contraseña. Si no recibió el mensaje revise la carpeta de 
			correo no deseado. De lo contrario nos puede contactar al correo info@dcm.cr")
			#set($result = $session.getTable("Customer").getFilteredTable("Email", $request.get('email')).getFirstRecord())
			#if($result)
				#set($blump = "$result.get('Token')")
				#set($token = $engine.getSHA512("${blump}$application.newDate().format('dd/MM')|1").substring(0,12))
				#define($contenttext)
				<p style="font-size: 14px;">Hola $result.get('Name'), 
				<br> Hemos recibido una solicitud de reestablecer la contraseña de tu cuenta en Distribuidora de Café Montaña. <br><br>
				Puedes reestablecer la contraseña haciendo click en el siguiente enlace: <a href="https://dcm.cr/cambiar-contrasena?loginemail=$result.get('email')&token=$token&resetpass=true" style="font-weight: bold; color: #3B6C5A"> CAMBIAR CONTRASEÑA </a><br>
				</p>
				<hr>
				<p>Cualquier duda que tenga nos puede contactar al correo <a href="mailto:info@dcm.cr" style="font-weight: bold; color: #3B6C5A">info@dcm.cr</a></p>
				#end
				$application.email("info@dcm.cr", "$result.get('Email')", "Solicitud para reestablecer contraseña", "#parse('/templates/dcm/emailtemplate.vm')")
			#end
		#end
		#if($request.get('resetemail') && $request.get('token'))
		
			#set($result = $session.getTable("Customer").getFilteredTable("Email", $request.get('resetemail')).getFirstRecord())
			#set($blump = "$result.get('Token')")
			#set($token = $engine.getSHA512("${blump}$application.newDate().format('dd/MM')|1").substring(0,12))
			#if($token == $request.get('token'))
				#if($request.get('pass') && $request.get('confirmpass'))
					#if($request.get('pass') == $request.get('confirmpass'))
						#set($savePass = $result.store('Password', $engine.getMD5encodedString("$request.get('pass')|1")))
						#set($loginmessage = "Su contraseña ha sido cambiada exitosamente. Puede ingresar a su cuenta con la nueva contraseña haciendo <a href='/iniciar-sesion'>click aquí</a>")
						#set($success = true)
						
					#elseif($request.get('pass') != $request.get('confirmpass'))
							#set($loginmessage = "Las contraseñas ingresadas no coinciden. Intente nuevamente.")	
													#set($resetpass = true)

					#elseif(!$request.get('pass'))
						#set($resetpass = true)
					#end
				#end
			#else
				#set($loginmessage = "La solicitud es inválida o ha expirado. Intente nuevamente ingresando su correo.")
			#end
			
		#end
        <section id="page-title" class="text-light"
            style="background-image:url(/templates/dcm/img/Header_Registro-Login.png); background-position:center; background-size: cover;">
            <div class="container">
                <div class="breadcrumb">
                    <ul>
                    </ul>
                </div>
                <div class="page-title">
                </div>
            </div>
        </section>
        <!-- Register -->
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-xs-6 col-lg-6 p-t-10">
                        <div class="heading-text text-left heading-section">
                            <h2>Reestablecer Contraseña		
			</h2>                                
			#if($request.get('resetpass') && $request.get('loginemail') && $request.get('token'))#set($resetpass = true)#end
                                    #if($loginmessage)
	                                  	<div class="alert alert-success">
	                                    		$loginmessage
                                    	</div>                                    	
                                    #end                              
                            #if($success)
                            
                            #elseif($resetpass)
                            	#set($loginmessage = "Ingrese su nueva contraseña y confírmela en la casilla de abajo.")
                                <span class="lead">$!loginmessage<br><br></span>

                            <form method="get">
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <input type="password" class="form-control" name="pass" placeholder="Contraseña"
                                            required>
                                        <input type="password" class="form-control" name="confirmpass" placeholder="Confirmar Contraseña"
                                            required>     
                                        <input type="hidden" class="form-control" name="resetemail" value="$request.get('loginemail')" 
                                            >  
                                        <input type="hidden" class="form-control" name="token"  value="$request.get('token')"  
                                            >                                              
                                    </div>
                                </div>
                            <button class="btn btn-block col-md-6" type="submit"
                                style="background-color: #2A795C;">Confirmar Cambio</button>
                            </form>
                            #else
                                <span class="lead">Debe ingresar su correo electrónico asociado a la cuenta a continuación. Recibirá un mensaje con instrucciones para reestablecer su contraseña.<br><br></span>

                            <form method="get">
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <input type="text" class="form-control" name="email" placeholder="Correo Electrónico"
                                            required>
                                    </div>
                                </div>
                            <button class="btn btn-block col-md-6" type="submit"
                                style="background-color: #2A795C;">Reestablecer Contraseña</button>
                            </form>
							#end
                        </div>
                    </div>
                </div>
##<a href="#">¿Olvidó su contraseña? Haz click aquí </a>
                ## <div class="custom-control custom-checkbox">
               ##     <input type="checkbox" name="reminders" id="reminders" class="custom-control-input" value="1"
                ##        required>
               ##     <label class="custom-control-label" for="reminders">Mantenerme registrado</a></label>
               ## </div>
                <br>

            </div>
        </section>
        <!-- end: Register -->
		#parse("/templates/shippingInfoSection.vm")

        